<style> 
div.mycolor {
	border : 2px solid black;
	color : #006500;
    background-color: green;
    position: relative;
    -webkit-animation-name: color; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-name: color;
    animation-duration: 4s;
    animation-delay: 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes color {
    0%   {background-color:#green; left:0px; width: 500px;}
    25%  {background-color:#00FF00; left:20px;width: 520px;}
    50%  {background-color:#32CD32; left:40px;width: 500px;}
    75%  {background-color:#3CB371; left:20px;width: 520px;}
    100% {background-color:green; left:0px;width: 500px;}
}

/* Standard syntax */
@keyframes color {
     0%   {background-color:#green; left:0px; width: 500px;}
    25%  {background-color:#00FF00; left:20px;width: 520px;}
    50%  {background-color:#32CD32; left:40px;width: 500px;}
    75%  {background-color:#3CB371; left:20px;width: 520px;}
    100% {background-color:green; left:0px;width: 500px;}
}
</style>
<div class="mycolor col-xs-offset-2 col-xs-9"><h3>{{message}}</h3></div>